.list {
  padding: 0px !important;
  height: 46vh;
  overflow-y: auto;
}

.item {
  height: 2em !important;
  width: 100%;
  background-color: rgba(55, 58, 77, 0.5);
  border-radius: 8px;
  margin-bottom: 1%;
}

.item:hover {
  background-color: rgba(55, 58, 77, 0.2);
  cursor: pointer;
}

.radio-group {
  margin-top: 1em;
  margin-bottom: 1em;
}

.list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
