<div class="top-container">
  <div class="card-container">
    <div class="card-header">
      <app-header></app-header>
    </div>

    <div class="card-content">
      <div class="navigation">
        <app-navigation></app-navigation>
      </div>

      <div class="content">
        <div class="header">
          <div class="title">EMPLOYEES</div>
          <div class="date">{{ today | date }}</div>
        </div>

        <div class="main">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button checked value="1">employees</mat-radio-button
            >&nbsp;
            <mat-radio-button value="2">managers</mat-radio-button>
          </mat-radio-group>
          <mat-list class="list">
            <mat-list-item
              class="item"
              *ngFor="let employee of filteredEmployees"
              >{{ employee.firstName }}&nbsp;{{
                employee.lastName
              }}</mat-list-item
            >
          </mat-list>

          <div class="footer">
            <app-employees-filtering-form
              [skillsList]="skillsList"
              (filterEvent)="filterEmployees($event)"
              #filter
            ></app-employees-filtering-form>
            <button
              mat-raised-button
              (click)="addEmployee(); filter.clearForm()"
            >
              Add new employee
            </button>
            &nbsp;
            <button mat-raised-button (click)="showOrgChart(); (filter)">
              Company structure
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
