<div class="top-container">
  <div class="card-container">
    <div class="card-header">
      <app-header [loggedUser]="loggedUser"></app-header>
    </div>

    <div class="card-content">
      <div class="navigation">
        <app-navigation [loggedUser]="loggedUser"></app-navigation>
      </div>

      <div class="content">
        <div class="header">
          <div class="title">EMPLOYEES</div>
          <div class="date">{{ today | date }}</div>
        </div>

        <div class="main">
          <app-slide-panel [activePane]="activePane">
            <div leftPane>
              <app-employees-list
                [filteredEmployees]="filteredEmployees"
                [filteredManagers]="filteredManagers"
                [loggedUser]="loggedUser"
                (showEmployee)="showDetailEmployee($event)"
                (editEmployee)="editEmployee($event)"
              ></app-employees-list>
              <app-employees-filtering-form
                [skillsList]="skillsList"
                (filterEvent)="filterEmployees($event)"
                #filter
              ></app-employees-filtering-form>
            </div>
            <div rightPane>
              <app-detail-employee
                *ngIf="activePane === 'right'"
                [employee]="showEmployee"
                (backEvent)="backToList($event)"
              ></app-detail-employee>
            </div>
          </app-slide-panel>
          <div class="footer">
            <button
              *ngIf="loggedUser?.isAdmin"
              mat-raised-button
              (click)="addEmployee(); filter.clearForm()"
            >
              Add employee
            </button>
            &nbsp;
            <button mat-raised-button (click)="showOrgChart(); (filter)">
              Company tree
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
