/* You can add global styles to this file, and also import other style files */
/* 
yellow #e5d80e 
indigo #373a4d
*/

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.orgchart-position {
  color: red;
  font-style: italic;
}
.orgchart-name {
  font-weight: bold;
}
