/* You can add global styles to this file, and also import other style files */
/* 
orange #feb70d
indigo #373a4d
*/

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.orgchart-position {
  color: red;
  font-style: italic;
}
.orgchart-name {
  font-weight: bold;
}

.indigo-bttn {
  background-color: rgba(55, 58, 77, 0.5);
  color: white;
}

.indigo-bttn:hover {
  background-color: rgba(55, 58, 77);
}
