<div class="top-container">
  <div class="card-container">
    <div class="card-header"></div>

    <div class="card-content">
      <div class="content">
        <div class="header">
          <div class="title">LOGIN</div>
          <div class="date">{{ today | date }}</div>
        </div>

        <div class="main">
          <app-login-form></app-login-form>
          <br />
          <mat-card style="text-align: center;">
            <img
              style="width: 100%; max-width: 150px;"
              src="../../../../assets/logo/logo (1).png"
          /></mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
