<div class="sidenav-nav">

    <div class="nav-options">
        <div class="nav-option" routerLink="/dashboard">
            <div class="nav-icon dashboard"></div>
            <div class="nav-text">Dashboard</div>
        </div>

        <div class="nav-option" routerLink="/projects">
            <div class="nav-icon projects"></div>
            <div class="nav-text">Projects</div>
        </div>

        <div class="nav-option">
            <div class="nav-icon employees"></div>
            <div class="nav-text">Employees</div>
        </div>

        <div class="nav-option" routerLink="/skills">
            <div class="nav-icon skills"></div>
            <div class="nav-text">Skills</div>
        </div>
    </div>

</div>