<div class="header-container">
  <div class="left">
    <img
      style="width: 100%; max-width: 150px;"
      src="../../../../assets/logo/logo (1).png"
    />
  </div>

  <div class="right">
    <div class="avatar">
      <img *ngIf="avatarUrl; else elseBlock" class="image" [src]="avatarUrl" />
      <ng-template #elseBlock
        ><div class="default">{{ initials }}</div></ng-template
      >
    </div>

    <div class="logout">
      <div class="text" (click)="logout()">Logout</div>
      <div class="icon"></div>
    </div>
  </div>
</div>
