<div class="header-container">
  <div class="left">
    <img
      style="width: 100%; max-width: 150px;"
      src="../../../../assets/logo/logo (1).png"
    />
  </div>

  <div class="right">
    <div class="avatar">
      <img
        *ngIf="loggedUser?.avatarUrl"
        class="image"
        [src]="loggedUser?.avatarUrl"
      />
      <div *ngIf="!loggedUser?.avatarUrl" class="default">
        {{ loggedUser?.firstName[0].toUpperCase() }}
      </div>
    </div>

    <div class="logout">
      <div class="text" (click)="logout()">Logout</div>
      <div class="icon"></div>
    </div>
  </div>
</div>
