<div class="top-container">
    <div class="card-container">

        <div class="card-header">
            <app-header></app-header>
        </div>

        <div class="card-content">
            <div class="navigation">
                <app-navigation></app-navigation>
            </div>

            <div class="content">
                <div class="header">
                    <div class="title">SKILLS</div>
                    <div class="date">{{today | date}}</div>
                </div>

                <div class="main"> ADD CONTENT </div>
            </div>
        </div>

    </div>
</div>