<div class="container">
  <div class="heading">
    <h1>Welcome to</h1>
    <br />
    <img src="../../../assets/logo/logo (1).png" />
  </div>
  <header>
    <div class="header"></div>
    <p class="description">
      Take your potential to new heights with Proptimize. Checkout the features.
    </p>
  </header>
  <section id="users">
    <h2>Users</h2>
    <div class="wrapcontent">
      <div class="users-image"></div>
      <div class="image-text"></div>
    </div>
  </section>
  <section id="employees">
    <h2>Employees</h2>
    <div class="wrapcontent">
      <div class="image-text"></div>
      <div class="employees-image"></div>
    </div>
  </section>
  <section id="projects">
    <h2>Projects</h2>
    <div class="wrapcontent">
      <div class="projects-image"></div>
      <div class="image-text"></div>
    </div>
  </section>
  <section id="skills">
    <h2>Skills</h2>
    <div class="wrapcontent">
      <div class="image-text"></div>
      <div class="skills-image"></div>
    </div>
  </section>
  <footer class="footer">
    <div class="links">
      <a (click)="toLogin()"><h2>LOGIN NOW</h2></a>
    </div>
  </footer>
</div>
