<div class="employee-info">
  <div style="margin-right: 10%;">
    <div class="name">{{ employee.firstName }} {{ employee.lastName }}</div>
    <div class="position">{{ employee.position }}</div>
  </div>
  <img class="avatar" *ngIf="employee.avatarUrl" [src]="employee.avatarUrl" />
</div>

<div *ngIf="!employee.skills">
  Skills: <span class="skill">Management</span>
</div>
<div *ngIf="employee.skills">
  Skills:
  <span
    *ngFor="let skill of employee.skills"
    class="skill"
    (click)="backEvent.emit(skill)"
    >{{ skill }}</span
  >
</div>
<h2 class="title">Today's projects & tasks:</h2>
<mat-list class="list">
  <mat-list-item
    class="item"
    *ngFor="let project of employee.projects"
    (click)="goToProject(project.id)"
    ><div class="list-item">
      {{ project.name }} &nbsp;
      <button
        mat-button
        (click)="showTasks(project.dailyInput); $event.stopPropagation()"
      >
        Tasks
      </button>
    </div>
  </mat-list-item>
</mat-list>
<button mat-button (click)="backEvent.emit()">
  Back
</button>
