{{ employee.firstName }} {{ employee.lastName }}
<br />
{{ employee.position }}
<br />
<div *ngIf="!employee.skills">Skills: N/A</div>
<div *ngIf="employee.skills">
  Skills:
  <span *ngFor="let skill of employee.skills" (click)="backEvent.emit(skill)">{{
    skill
  }}</span>
</div>
<mat-list class="list">
  <mat-list-item class="list-header">Today's projects & tasks: </mat-list-item>
  <mat-list-item
    class="item"
    *ngFor="let project of employee.projects"
    (click)="goToProject(project.id)"
    >{{ project.name }} &nbsp;
    <span *ngFor="let skill of project.skills"
      >{{ skill.name }}: &nbsp; {{ skill.hours }}h.
    </span></mat-list-item
  >
</mat-list>
<button mat-button (click)="backEvent.emit()">Back</button>
