.form-container {
    min-height: 40vh;
    max-height: 70vh;
    width: 60vw;

    display: flex;
    flex-direction: column;
}

.info-container {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-rows: 10vh 14vh 10vh;
    grid-template-areas: "name name target"
                         "description description description"
                         "m mTarget mHours";
}

.skills-container {
    background-color: rgb(211, 211, 211, 0.2);
    border-radius: 5px;
    padding: 0.8em;
    margin-bottom: 1em;
    width: 55vw;

    overflow-y: auto;
}
.skills-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.skill-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.skills-text {
    margin-bottom: 0em;
}

.name {
    grid-area: name;
    width: 45vw;
}
.name mat-form-field{
    width: 45vw;
}
.description {
    grid-area: description;
    width: 57vw;
    margin-top: 0.5em;
}
.description mat-form-field{
    width: 57vw;
    margin-top: 0.5em;
}
.description textarea {
    resize: none;
}
.target-in-days {
    grid-area: target;
    width: 10vw;
}
.target-in-days mat-form-field{
    width: 10vw;
}

.management {
    grid-area: m;
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1.2em;
}
.management .text {
    margin-bottom: 0em;
    margin-right: 2em;
    padding-bottom: 2em;
}
.management-target {
    grid-area: mTarget;
    width: 15vw;
}
.management-target mat-form-field{
    width: 15vw;
}
.management-hours {
    grid-area: mHours;
    width: 10vw;
}

.single-skill {
    background-color: rgb(212, 226, 255, 0.2);
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 0.5em;
}

mat-action-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-bottom: 1em;
}

.employee-container {
    background-color: rgb(253, 186, 25, 0.1);
    border-radius: 5px;
    padding: 0.6em;
    margin-bottom: 1em;
}

.employees-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.employee-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-btn {
    line-height: 1.7em;
    font-size: 0.9em;
    height: 1.7em;
}
.del {
    background-color: rgb(247, 136, 136, 0.4);
}
.save {
    background-color: rgb(21, 219, 149, 1);
}

.apply {
    background-color: rgb(253, 186, 25, 0.7);
    margin-left: 1em;
}

/* :host ::ng-deep .mat-form-field-wrapper{
    margin: 0 !important;
    padding: 0;
  } */

/*  MEDIA */
@media (min-width: 768px) and (max-width: 1150px) { 
    
    .form-container {
        width: 65vw;
    }

    .skills-container {
        width: 62vw;
    }
}

/*  MEDIA */
@media (max-width: 767px) {
    
    .form-container {
        width: 90vw;
    }

    .skills-container {
        width: 60vw;
    }
    
    .info-container {
        display: flex;
        flex-direction: column;
    }

    .name {
        width: 60vw;
    }
    .name mat-form-field{
        width: 60vw;
    }
    .description {
        width: 60vw;
    }
    .description mat-form-field{
        width: 60vw;
    }
    .target-in-days {
        width: 60vw;
    }
    .target-in-days mat-form-field{
        width: 60vw;
    }

    .single-skill {
        display: flex;
        flex-direction: column;
    }

    .skill-header{
        display: flex;
        flex-direction: column;
    }

    .employees-header {
        margin-top: 1.5em;
    }

    .employee-header{
        display: flex;
        flex-direction: column;
    }

    mat-action-row {
        justify-content: flex-start;
    }

    .management-target {
        width: 60vw;
    }
    .management-target mat-form-field{
        width: 60vw;
    }
    .management-hours {
        width: 60vw;
    }
    .management .text {
        margin-right: 1em;
    }
}