.login-container {
  text-align: center;
}

mat-form-field {
  max-width: 100%;
}

#login-button {
  background-color: lavender;
  max-width: 100%;
}

#login-button:hover {
  background-color: lavenderblush;
}
