<div class="login-container">
  <mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" required />
      </mat-form-field>
      <br />
      <button id="login-button" mat-raised-button type="submit">
        Login
      </button>
    </form>
  </mat-card>
</div>
