<form [formGroup]="filteringForm">
  <span class="bold-indigo">Filter:</span>
  <mat-form-field>
    <mat-label>Skills</mat-label>
    <mat-select [formControl]="skills" multiple>
      <mat-option *ngFor="let skill of skillsList" [value]="skill">{{
        skill
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <mat-form-field
    ><mat-label>First name</mat-label
    ><input matInput formControlName="firstName"
  /></mat-form-field>
  &nbsp;
  <mat-form-field
    ><mat-label>Last name</mat-label><input matInput formControlName="lastName"
  /></mat-form-field>
  &nbsp;
  <mat-checkbox formControlName="subordinates">My team only</mat-checkbox>
</form>
