<div class="form-container">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit(employeeForm)">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Position</mat-label>
      <input matInput formControlName="position" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Managed by</mat-label>
      <mat-select [formControl]="managedBy">
        <mat-option value="self-managed">Self-managed</mat-option>
        <mat-option *ngFor="let manager of managersList" [value]="manager"
          >{{ manager.data().firstName }}&nbsp;{{
            manager.data().lastName
          }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <br />
    <mat-checkbox formControlName="isManager">Manager</mat-checkbox>
    &nbsp;
    <mat-checkbox formControlName="isAdmin" *ngIf="isManager.value"
      >Admin</mat-checkbox
    >
    <br />
    <br />
    <mat-form-field *ngIf="!isManager.value">
      <mat-label>Skills</mat-label>
      <mat-select #sl [formControl]="skills" multiple>
        <mat-option *ngFor="let skill of skillsList" [value]="skill">{{
          skill
        }}</mat-option>
        <button
          mat-raised-button
          class="apply-options-bttn"
          (click)="sl.close()"
        >
          Apply
        </button>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="isManager.value">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <br />
    <button type="submit" mat-raised-button>
      Submit
    </button>
    &nbsp;
    <button type="button" mat-button (click)="dialogRef.close()">
      Cancel
    </button>
  </form>
</div>
