<div class="projects-container">

    <div>
        <mat-list *ngFor="let project of projects | async">
            <mat-list-item>
                <h3 matLine> {{project.name}} </h3>
                <p matLine>
                    <span>By: {{ project.reporter.firstName }} {{project.reporter.lastName }} </span>
                    <span class="demo-2"> -- {{project.status}} </span>
                </p>
            </mat-list-item>
        </mat-list>
    </div>


    <div infiniteScroll [infiniteScrollDistance]="7" [infiniteScrollThrottle]="1000"
        [infiniteScrollContainer]="selector" [fromRoot]="true" (scrolled)="onScroll()">
    </div>

    <!-- <div *ngIf="!finished"> LOADING </div> -->

</div>