<div class="projects-container">

    <div *ngFor="let project of (projects | async); let i = index">
        <div (click)="onProjectSelect(i)" class="project">

            <div class="firstLine">
                <div class="name">
                    <div class="icon"></div>
                    <p>{{project?.name}}</p>
                </div>

                <div class="status">
                    <div *ngIf="project?.status === 'In Progress'" class="icon"></div>
                    <div *ngIf="project?.status === 'Closed'" class="icon closed"></div>
                    <p>{{project?.status}}</p>
                </div>
            </div>

            <div class="secondLine">
                <p class="reporter">
                    <span>Reporter: </span> {{ project.reporter.firstName }} {{project.reporter.lastName }}
                </p>
            </div>

        </div>
    </div>


    <!-- <div infiniteScroll [infiniteScrollDistance]="7" [infiniteScrollThrottle]="1000"
        [infiniteScrollContainer]="selector" [fromRoot]="true" (scrolled)="onScroll()">
    </div> -->

    <!-- <div *ngIf="!finished"> LOADING </div> -->

</div>