.projects-container {
    height: 57vh;
    /* height: 100%; */
    width: 75vw;
    overflow-y: scroll;
    /* font-size: 8px; */
}

.mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line {
    height: 50px;
    /* font-size: 0.em; */
}

 /* MEDIA */
@media (min-width: 768px) and (max-width: 1300px) {
    .projects-container {
        width: 75vw;
        height: 50vh;
        align-self: flex-start;
    }
}

/*  MEDIA */
@media (max-width: 768px) {

    .projects-container{
        width: 85vw;
        height: 50vh;
    }
}